.navbar-inverse {
	background-color: #337ab7;
	border: none;
	color: #fff;
	font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
	background-color: #337ab7;
	color: #fff;
}

.navbar-inverse .navbar-collapse{
	border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus   {
	background-color: #2e6da4;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

footer {
	margin-top: 30px;
	color: #888;
}

footer a {
	color: #888;
	text-decoration: underline;
}

footer a:hover {
	color: #333;
	text-decoration: none;
}

footer .container {
	border-top: 1px solid #888;
}

#error-page {
	text-align: center;
	color: #337ab7;
	font-size: 80px;
	margin-top: 30px;
}

#vnc-connection{
	height: 768px;
	background-color: #555;
	padding: 0;
	color: #fff;
	font-size: 50px;
	line-height: 768px;
	text-align: center;
}

#vnc-wrapper{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
}

.container{
	max-width: 1024px;
	padding: 0px;
}

.container-fluid{
	padding: 0;
}

.navbar-collapse {
	padding: 0;
}